body{
	font-family: 'Montserrat';
	font-size: 16px;
	max-width: 1920px;
	overflow-x: hidden;
}
a{
	color: #4985FF;
	border-bottom:1px solid #4985FF ;
}

.block__one {
	max-width: 100%;
	min-height: 900px;
	background: url(../img/block__1.jpg) no-repeat;
	background-size: 1920px 900px;
	
}
.header{
	border-bottom: 1px solid hsla(0, 0%, 50%, 0.502);
}
.heder__body {
	color: rgb(134, 124, 124);
	display: flex;
	flex-direction: row;
	position: relative;
	max-width: max-content;
	margin: 0px auto 0px 932px;
}
.heder__item {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	position: relative;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}
.heder__item:last-child {
	margin-right: 0;
}
.heder__item:hover {
	border-bottom: 2px solid #FFFFFF;
	cursor: pointer;
	padding-bottom: 38px;
}
.study {
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin: 219px auto 0px auto;
}
.title {
	font-size: 48px;
	font-weight: 800;
	color: #FFFFFF;
	text-align: center;
	Line-height: 64.36px;
	position: relative;
	margin: 20px auto 0px auto;
}
.title__text{
	max-width: 829px;
	margin: 0 auto;
}
#dutton__study{
	position: relative;
	margin: 50px auto 0px auto;
}

.dutton__study {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	background-color: #4985FF;
	border-radius: 30px;
	max-width: max-content;
	padding-top: 13px;
	padding-bottom: 15px;
	padding-right: 36px;
	padding-left: 36px;
	transition: 0.6s;
}
#dutton__study:hover{
	margin-top: 51px;
	cursor: pointer;
	background-color: #FFFFFF;
	color: #4985FF;
}
.dutton__studyk  {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	margin: 0 auto;
	color: #FFFFFF;
	background-color: #4985FF;
	border-radius: 30px;
	max-width: max-content;
	padding-top: 13px;
	padding-bottom: 15px;
	padding-right: 36px;
	padding-left: 36px;
	transition: 0.6s;
}
.dutton__studyk:hover{
	cursor: pointer;
	background-color: #cacaca;
	color: #4985FF;
}
@media (max-width: 1600px) {
	.heder__body{
	margin: 0px auto 0px 632px;
	}
}

@media (max-width: 1300px) {

	.heder__body{
	margin: 0px auto ;
	}
	.title {
		font-size: 34px;
		Line-height: 60px;
	}
	.title__text{
		max-width: 629px;
	}
}

@media (max-width: 700px) {
	.heder__item {
		font-size: 14px;
		padding-right: 10px;
		padding-left: 10px;
	}
	.title {
		font-size: 25px;
		Line-height: 55px;
	}
	.title__text{
		max-width: 460px;
	}
	.dutton__study {
		font-size: 14px;
		padding-top: 11px;
		padding-bottom: 13px;
		padding-right: 34px;
		padding-left: 34px;
		transition: 0.6s;
	}
	.heder__item {
		font-size: 11px;
		padding-right: 8px;
		padding-left: 8px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.heder__item:hover {
		padding-bottom: 28px;
	}
}

@media (max-width: 460px) {
	.title {
		font-size: 16px;
		Line-height: 48px;
	}
	.title__text{
		max-width: 310px;
	}
	.dutton__study {
		font-size: 12px;
		padding-top: 10px;
		padding-bottom: 11px;
		padding-right: 32px;
		padding-left: 32px;
		transition: 0.6s;
	}
}

@media (max-width: 390px) {
	.heder__item {
		font-size: 8px;
		padding-right: 8px;
		padding-left: 8px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.heder__item:hover {
		padding-bottom: 18px;
	}
	.dutton__study {
		font-size: 11px;
		padding-top: 9px;
		padding-bottom: 10px;
		padding-right: 30px;
		padding-left: 30px;
		transition: 0.6s;
	}
}


#dutton__servies__4{
	position: absolute;
	left: 299px;
	top: 0px;
}



.block__one__interval{
	margin: 0 auto;
    max-width: 1113px;
}

.mobyle__aplecation {
	text-align: center;
	position: relative;
	margin: 110px auto 0px auto;
}
.mobyle__aplecation__h{
	margin: 0 auto;
	font-size: 36px;
	line-height: 52.66px;
	font-weight: 700;
	max-width: 739px;
}
.lorem__interval {
	font-size: 16px;
	position: relative;
	font-weight: 400;
	text-align: center;
	line-height: 25.36px;
	max-width: 730px;
	margin: 50px auto 0px auto;
	color: #999999;
}

.project__container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.project__counter{
	position: relative;
	border: 1px solid #E0E0E0;
	border-radius: 50%;
	padding: 10px;
	max-width: max-content;
	margin: 80px 0px 0px 0px;
}
.project {
	border: 1px solid #4985FF;
	border-radius: 50%;
	padding: 25px;
	position: relative;
}
.web h1{
	position: relative;
	font-size: 18px;
	font-weight: 600;
	margin: 116px 0px 0px 17px;
}
.web__syte {
	font-size: 14px;
	font-weight: 400;
	max-width: 222px;
	margin: 12px 0px 0px 18px;
	color: #999999;
}

.project__counter__2{
	border: 1px solid #E0E0E0;
	border-radius: 50%;
	padding: 10px;
	max-width: max-content;
	position: relative;
	margin: 80px 0px 0px 0px;
}

.web__2 h1{
	position: relative;
	margin: 116px 0px 0px 17px;
	font-size: 18px;
	font-weight: 600;
}
.web__syte__2 {
	position: relative;
	font-size: 14px;
	font-weight: 400;
	max-width: 222px;
	margin: 12px 0px 0px 18px;
	color: #999999;
}

.project__counter__3{
	border: 1px solid #E0E0E0;
	border-radius: 50%;
	padding: 10px;
	max-width: max-content;
	position: relative;
	margin: 80px 0px 0px 0px;
}

.web__3 h1{
	position: relative;
	font-size: 18px;
	font-weight: 600;
	margin: 116px 0px 0px 17px;
}
.web__syte__3 {
	position: relative;
	font-size: 14px;
	font-weight: 400;
	max-width: 222px;
	margin: 12px 0px 0px 18px;
	color: #999999;
}

#dutton__servies{
	position: relative;
	margin: 55px auto 0px auto;
}


@media (max-width: 1300px) {
	.mobyle__aplecation__h{
	font-size: 30px;
	line-height: 51px;
	max-width: 680px;
}
	.project svg{
	max-width:30px;
}
	.project {
	padding: 15px;
}
}


@media (max-width: 900px) {
	.mobyle__aplecation__h{
		font-size: 24px;
		line-height: 49px;
		max-width: 500px;
	}
		.project svg{
		max-width:20px;
	}
		.project {
		padding: 8px;
	}
	.project__counter,.project__counter__2,.project__counter__3{
		padding: 6px;
	}
	.lorem__interval {
		font-size: 14px;
		line-height: 25px;
		max-width: 700px;
	}
	.web h1,.web__2 h1,.web__3 h1{
		font-size: 14px;
	}
	.web__syte,.web__syte__2,.web__syte__3 {
		font-size: 11px;
		max-width: 200px;
	}
}

@media (max-width: 780px) {
	.project__container {
		flex-direction: column;
	}
	.web h1,.web__2 h1,.web__3 h1{
		margin: 20px 0px 0px 17px;
		font-size: 12px;
	}
	.project svg{
		max-width:24px;
	}
	.project {
		padding: 10px;
	}
	.project__counter,.project__counter__2,.project__counter__3{
		padding: 8px;
		margin: 26px 0px 0px 0px;
	}
	.lorem__interval {
		font-size: 12px;
		line-height: 24px;
		max-width: 500px;
	}
	.dutton__studyk  {
		font-size: 12px;
		padding-top: 10px;
		padding-bottom: 12px;
		padding-right: 32px;
		padding-left: 32px;
	}
}

@media (max-width: 540px) {
	.mobyle__aplecation__h{
		font-size: 16px;
		line-height: 46px;
		max-width: 360px;
	}
	.lorem__interval {
		font-size: 11px;
		line-height: 25px;
		max-width: 400px;
		
	}
}

@media (max-width: 430px) {
	.mobyle__aplecation__h{
		font-size: 13px;
		line-height: 40px;
		max-width: 280px;
	}
	.lorem__interval {
		font-size: 9px;
		max-width: 300px;
	}
	.dutton__studyk  {
		font-size: 10px;
		padding-top: 7px;
		padding-bottom: 9px;
		padding-right: 28px;
		padding-left: 28px;
	}
}

@media (max-width: 330px) {
	.mobyle__aplecation__h{
		font-size: 12px;
		line-height: 24px;
		max-width: 200px;
	}
	.lorem__interval {
		font-size: 9px;
		max-width: 200px;
		line-height: 23px;
	}
}



.block__two {
	position: relative;
	min-height: 797px;
    max-width: 1920px;
	background-color: #F6F6F8;
	margin: 105px 0px 0px 0px;
}
.programm__flex{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
/**/
.welecment h1{
	font-size: 36px;
	font-weight: 700;
	line-height: 52.66px;
	position: relative;
	max-width: 489px;
	margin: 152px 0px 0px 0px;
}
/**/
.lorem__welecment {
	max-width: 489px;
	font-size: 14px;
	font-weight: 400;
	line-height: 25.22px;
	margin: 40px 0px 30px 0px;
}
/**/
.podrobno{
	font-size: 16px;
	font-weight: 500;
	position: relative;
	margin: 0px 0px 0px 0px;
}
/**/
.programm{
	max-width: 500px;
	border-radius: 30px;
	background-color: #F6F6F8;
	position: relative;
	margin: 100px 0px 90px 121px;
}

.welecment__programm__container{
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin: 0 auto;
}
.welecment__programm{
	border-bottom: #E0E0E0 1px solid;
	max-width: 1110px;
	margin: 0 auto;
}
.web-programming svg{
	position: relative;
	max-width: 30px;
	margin: 78.77px 0px 0px 0px;
}
.web-programming h1{
	position: relative;
	font-size: 36px;
	font-weight: 400;
	margin: 70px 0px 0px 20px;
}
.spicuring{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}
.our__project{
	position: relative;
	font-size: 16px;
	font-weight: 400;
	line-height: 25.36px;
	margin: 17px 0px 0px 0px;
	color: #999999;
}
.web-programming__2 svg{
	position: relative;
	max-width: 30px;
	margin: 78.77px 0px 0px 100px;
}
.web-programming__2 h1{
	position: relative;
	font-size: 36px;
	font-weight: 400;
	margin: 70px 0px 0px 20px;
}
.our__project__2 {
	position: relative;
	font-size: 16px;
	font-weight: 400;
	line-height: 25.36px;
	margin: 17px 0px 0px 104px;
	color: #999999;
}
.web-programming__3 svg{
	position: relative;
	margin: 78.77px 0px 0px 100px;
	max-width: 30px;
}
.web-programming__3 h1{
	position: relative;
	font-size: 36px;
	font-weight: 400;
	margin: 70px 0px 0px 20px;
}
.our__project__3 {
	position: relative;
	font-size: 16px;
	font-weight: 400;
	line-height: 25.36px;
	margin: 17px 0px 0px 104px;
	color: #999999;
}
.web-programming__4 svg{
	position: relative;
	width: 30px;
	margin: 78.77px 0px 0px 100px;
}
.web-programming__4 h1{
	position: relative;
	font-size: 36px;
	font-weight: 400;
	margin: 70px 0px 0px 20px;
}
.our__project__4 {
	position: relative;
	font-size: 16px;
	font-weight: 400;
	line-height: 25.36px;
	margin: 17px 0px 0px 104px;
	color: #999999;
}
.web-programming__5 svg{
	position: relative;
	margin: 78.77px 0px 0px 100px;
	width: 30px;
}
.web-programming__5 h1{
	position: relative;
	font-size: 36px;
	font-weight: 400;
	margin: 70px 0px 0px 20px;
}
.our__project__5 {
	position: relative;
	font-size: 16px;
	font-weight: 400;
	line-height: 25.36px;
	margin: 17px 0px 0px 104px;
	color: #999999;
}


@media (max-width: 1630px) {
	.welecment h1{
		font-size: 24px;
		max-width: 409px;
		line-height: 32px;
	}
	.lorem__welecment {
		max-width: 409px;
		font-size: 12px;
		font-weight: 400;
		line-height: 25px;
		margin: 20px 0px 16px 0px;
	}
	.podrobno{
		font-size: 14px;
		font-weight: 500;
		position: relative;
		margin: 0px;
	}
	.programm{
		max-width: 420px;
	}
	.welecment__programm{
		max-width: 930px;
	}
	.block__two {
		min-height: 737px;
	}
}


@media (max-width: 1080px) {
	.welecment h1{
		font-size: 20px;
		max-width: 309px;
		line-height: 26px;
	}
	.lorem__welecment {
		max-width: 379px;
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
		margin: 16px 0px 14px 0px;
	}
	.podrobno{
		font-size: 11px;
		font-weight: 500;
		position: relative;
	}
	.welecment__programm{
		max-width: 930px;
	}
	.web-programming svg,.web-programming__2 svg,.web-programming__3 svg,.web-programming__4 svg,.web-programming__5 svg{
		max-width: 30px;
	}
	.web-programming h1,.web-programming__2 h1,.web-programming__3 h1,.web-programming__4 h1,.web-programming__5 h1{
		font-size: 30px;
		font-weight: 400;
		margin: 74px 0px 0px 10px;
	}
	.our__project,.our__project__2,.our__project__3,.our__project__4,.our__project__5{
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
	}
}

@media (max-width: 950px) {
	.web-programming__2 svg,.web-programming__3 svg,.web-programming__4 svg,.web-programming__5 svg{
		margin: 78.77px 0px 0px 60px;
	}
	.web-programming h1,.web-programming__2 h1,.web-programming__3 h1,.web-programming__4 h1,.web-programming__5 h1{
		margin: 75px 0px 0px 5px;
		font-size: 24px;
	}
	.our__project__2,.our__project__3,.our__project__4,.our__project__5{
		margin: 8px 0px 0px 60px;
	}
	.our__project{
		margin: 8px 0px 0px 0px;
	}
	.welecment h1{
		font-size: 16px;
		max-width: 209px;
		line-height: 20px;
	}
	.lorem__welecment {
		max-width: 259px;
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
		margin: 16px 0px 8px 0px;
	}
	.podrobno{
		font-size: 11px;
		font-weight: 500;
		position: relative;
	}
	.welecment__programm{
		max-width: 930px;
	}
	.programm{
		max-width: 400px;
		margin: 100px 0px 90px 80px;
	}
	.block__two {
		min-height: 707px;
	}

}

@media (max-width: 780px) {
	.welecment__programm__container{
		flex-direction: column;
		margin: 0 auto;
		align-items: center;
	}
	.welecment h1{
		margin: 42px 0px 0px 0px;
	}
	.programm{
		margin: 60px 0px 90px 80px;
	}
	.welecment__programm{
		max-width: 800px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0px auto 0px auto;
	}
	.programm__flex{
		padding-bottom: 70px;
	}
}
@media (max-width: 660px) {
	.web-programming__2 svg,.web-programming__3 svg,.web-programming__4 svg,.web-programming__5 svg{
		margin: 78.77px 0px 0px 30px;
	}
	.web-programming h1,.web-programming__2 h1,.web-programming__3 h1,.web-programming__4 h1,.web-programming__5 h1{
		margin: 76px 0px 0px 4px;
		font-size: 18px;

	}
	.web-programming svg,.web-programming__2 svg,.web-programming__3 svg,.web-programming__4 svg,.web-programming__5 svg{
		max-width: 24px;

	}
	.our__project__2,.our__project__3,.our__project__4,.our__project__5{
		margin: 0px 0px 0px 30px;
		font-size: 9px;

	}
	.our__project{
		margin: 0px 0px 70px 0px;
		font-size: 9px;

	}
	.block__two {
		max-height: 937px;
	}
}
@media (max-width: 560px) {
	.programm__flex{
		flex-direction: column;
		align-items: center;
	}
	.web-programming h1,.web-programming__2 h1,.web-programming__3 h1,.web-programming__4 h1,.web-programming__5 h1{
		margin: 50px 0px 0px 4px;
		font-size: 22px;
	}
	.web-programming svg,.web-programming__2 svg,.web-programming__3 svg,.web-programming__4 svg,.web-programming__5 svg{
		max-width: 40px;
		margin: 55.77px 0px 0px 0px;
	}
	.our__project__2,.our__project__3,.our__project__4,.our__project__5{
		margin: 0px 0px 0px 0px;
		font-size: 16px;
	}
	.our__project{
		margin: 0px 0px 0px 0px;
		font-size: 16px;
	}
	.programm{
		margin: 100px auto 90px auto;
		max-width: 300px;
	}
	.welecment h1{
		text-align: center;
		margin: 42px auto 0px auto;
	}
	.lorem__welecment {
		margin: 20px auto;
	}
	.block__two {
		max-height: 1537px;
	}
}





.block__three {
	max-height: 490px;
	max-width: 1920px;
	position: relative;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%),
    linear-gradient(0deg, #C4C4C4, #C4C4C4);
}
.work {
	font-size: 36px;
	font-weight: 700;
	line-height: 52.66px;
	position: relative;
	max-width: 540px;
	color: #FFFFFF;
	margin: 100px 0px 0px 0px;
}

#dutton__servies__2{
	position: relative;
	margin: 120px 0px 0px 406px ;
}
.dutton__study__2{
	max-height: 45px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	background-color: #4985FF;
	border-radius: 30px;
	max-width: max-content;
	padding-top: 13px;
	padding-bottom: 15px;
	padding-right: 36px;
	padding-left: 36px;
	transition: 0.6s;
	min-width: max-content;
}
.dutton__study__2:hover{
	cursor: pointer;
	background-color: #FFFFFF;
	color: #4985FF;
}
.knopka{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.img__colomns{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	border-bottom: #E0E0E0 1px solid;
	padding-bottom: 85px;
	max-width: max-content;
}
.image__1{
	max-width: 350px;
	position: relative;
	border-radius: 10px;
	margin: 70px 0px 0px 0px;
}
.image__2{
	max-width: 350px;
	position: relative;
	margin: 70px 0px 0px 30px;
	border-radius: 10px;
}
.image__3{
	max-width: 350px;
	position: relative;
	margin: 70px 0px 0px 30px;
	border-radius: 10px;
}
.exloer {
	display: flex;
	flex-direction: column;
}
.a__columns{
	display: flex;
	flex-direction: column;
	
}
.exloer a{
	position: relative;
	margin: 30px 0px 0px 0px;
	max-width: max-content;
}
.exloer .a__2{
	position: relative;
	margin: 30px 0px 0px 30px;

}
.exloer .a__3{
	position: relative;
	margin: 30px 0px 0px 30px;
	
}
.exloer span{
	color: #4985FF;
	font-size: 18px;
}
.exloer h1{
	font-weight: 600;
	font-size: 18px;
	position: relative;
	margin: 30px 0px 0px 0px;
}
.exloer .h1__2{
	font-weight: 600;
	font-size: 18px;
	position: relative;
	margin: 30px 0px 0px 33px;
}
.exloer .h1__3{
	font-weight: 600;
	font-size: 18px;
	position: relative;
	margin: 30px 0px 0px 33px;
}
.lorem__three {
	position: relative;
	margin: 30px 0px 0px 0px;
	max-width: 350px;
	font-size: 16px;
	font-weight: 400;
	line-height: 25.36px;
	color: #999999;
}
.lorem__three__2 {
	position: relative;
	margin: 30px 0px 0px 30px;
	max-width: 350px;
	font-size: 16px;
	font-weight: 400;
	line-height: 25.36px;
	color: #999999;
}
.lorem__three__3 {
	position: relative;
	margin: 30px 0px 0px 30px;
	max-width: 350px;
	font-size: 16px;
	font-weight: 400;
	line-height: 25.36px;
	color: #999999;
}

@media (max-width: 1200px) {
	.work {
		font-size: 30px;
		line-height: 50px;
		max-width: 480px;
	}
	.lorem__three,.lorem__three__2,.lorem__three__3{
		margin: 30px 0px 0px 14px;
		max-width: 240px;
		font-size: 13px;
		line-height: 24px;
	}
	.image__3{
		max-width: 240px;
		margin: 70px auto 0px auto;
	}
	.image__2{
		max-width: 240px;
		margin: 70px auto 0px auto;
	}
	.image__1{
		margin: 70px auto 0px auto;
		max-width: 240px;
	}
	.exloer h1,.exloer .h1__2,.exloer .h1__3{
		font-size: 15px;
		margin: 30px auto 0px auto;
	}
	.exloer a,.exloer .a__2,.exloer .a__3{
		margin: 30px 0px 0px 14px;
		font-size: 14px;
	}
	.block__three {
		max-height: 416px;
	}
	#dutton__servies__2{
		margin: 120px 0px 0px 106px ;
	}
	.exloer span{
		font-size: 15px;
	}
}

@media (max-width: 800px) {
	.work {
		font-size: 18px;
		line-height: 46px;
		max-width: 400px;
	}
	.lorem__three,.lorem__three__2,.lorem__three__3{
		margin: 10px 0px 0px 12px;
		max-width: 200px;
		font-size: 10px;
		line-height: 24px;
	}
	.image__1,.image__2,.image__3{
		max-width: 200px;
		margin: 70px auto 0px auto;
	}
	
	.exloer h1,.exloer .h1__2,.exloer .h1__3{
		font-size: 11px;
		margin: 20px 16px 0px 12px;
	}
	.exloer a,.exloer .a__2,.exloer .a__3{
		font-size: 12px;
		margin: 20px 0px 0px 12px;
	}
	.block__three {
		max-height: 386px;
	}
	#dutton__servies__2{
		margin: 120px 0px 0px 63px ;
	}
	.exloer span{
		font-size: 11px;
	}
}

@media (max-width: 670px) {
	.work {
		font-size: 16px;
		line-height: 46px;
		max-width: 400px;
	}
	.lorem__three,.lorem__three__2,.lorem__three__3{
		margin: 10px 0px 0px 12px;
		max-width: 160px;
		font-size: 10px;
		line-height: 24px;
	}
	.image__1,.image__2,.image__3{
		max-width: 160px;
		margin: 70px auto 0px auto;
	}
	
	.exloer h1,.exloer .h1__2,.exloer .h1__3{
		font-size: 10px;
		margin: 20px 16px 0px 10px;
	}
	.exloer a,.exloer .a__2,.exloer .a__3{
		font-size: 10px;
		margin: 20px 0px 0px 10px;
	}
	.block__three {
		max-height: 366px;
	}
	#dutton__servies__2{
		margin: 120px 0px 0px -47px ;
	}
	.exloer span{
		font-size: 10px;
	}
}

@media (max-width: 560px) {
	.work {
		font-size: 20px;
		line-height: 46px;
		max-width: 290px;
	}
	.lorem__three,.lorem__three__2,.lorem__three__3{
		margin: 10px 0px 0px 12px;
		max-width: 230px;
		font-size: 14px;
		line-height: 24px;
	}
	.knopka{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.image__1,.image__2,.image__3{
		max-width: 230px;
		margin: 70px auto 0px auto;
	}
	
	.exloer h1,.exloer .h1__2,.exloer .h1__3{
		font-size: 14px;
		margin: 20px 16px 0px 10px;
	}
	.exloer a,.exloer .a__2,.exloer .a__3{
		font-size: 14px;
		margin: 20px 0px 0px 10px;
	}
	.block__three {
		max-height: 496px;
	}
	#dutton__servies__2{
		margin: 20px auto;
	}
	.exloer span{
		font-size: 14px;
	}
	.img__colomns{
		flex-direction: column;
		margin: 0 auto;
		padding-bottom: 85px;
	}
	.img__colomns{
		margin-bottom: 85px;
		border-bottom: #E0E0E0 1px solid;
	}

}



.block__fore {
	position: relative;
	margin: 492px 0px 0px 0px;
	background-color: #F6F6F8;
	min-height: 776px;
}
.project__h1 h1{
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	position: relative;
	padding-top: 100px;
}
.lorem__fore {
	font-weight: 400;
	font-size: 16px;
	line-height: 25.36px;
	position: relative;
	max-width: 730px;
	color: #999999;
	margin: 50px auto 0px auto;
}
.image__gap {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content: center;
}
.image__one {
	border-radius: 10px;
	max-width: 225px;
	position: relative;
	margin-top: 70px;
	margin-right: 30px;
}
.image__two {
	border-radius: 10px;
	max-width: 225px;
	position: relative;
	margin-top: 70px;
	margin-right: 30px;
}
.image__three {
	border-radius: 10px;
	max-width: 225px;
	position: relative;
	margin-top: 70px;
	margin-right: 30px;
}
.image__fore {
	border-radius: 10px;
	max-width: 225px;
	position: relative;
	margin-top: 70px;
	margin-right: 30px;
}

#dutton__project{
	position: relative;
	margin: 50px auto;
}

.dutton__project{
	max-height: 45px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	background-color: #4985FF;
	border-radius: 30px;
	max-width: max-content;
	padding-top: 13px;
	padding-bottom: 15px;
	padding-right: 36px;
	padding-left: 36px;
	transition: 0.6s;
	min-width: max-content;
}
.dutton__project:hover{
	cursor: pointer;
	background-color: #cacaca;
	color: #4985FF;
}

@media (max-width: 1200px) {
	.project__h1 h1{
		font-size: 30px;
		padding-top: 100px;
	}
	.lorem__fore {
		font-size: 14px;
		line-height: 24px;
		max-width: 500px;
		text-align: center;
	}
	.image__one {
		border-radius: 10px;
		max-width: 205px;
		margin-top: 70px;
		margin-right: 20px;
	}
	.image__two {
		border-radius: 10px;
		max-width: 205px;
		margin-top: 70px;
		margin-right: 20px;
	}
	.image__three {
		border-radius: 10px;
		max-width: 205px;
		margin-top: 70px;
		margin-right: 20px;
	}
	.image__fore {
		border-radius: 10px;
		max-width: 205px;
		margin-top: 70px;
		margin-right: 20px;
	}
}

@media (max-width: 940px) {
	.project__h1 h1{
		font-size: 26px;
		padding-top: 100px;
	}
	.lorem__fore {
		font-size: 12px;
		line-height: 24px;
		max-width: 400px;
		text-align: center;
		margin: 20px auto 0px auto;
	}
	.image__one {
		border-radius: 10px;
		max-width: 135px;
		margin-top: 40px;
		margin-right: 14px;
	}
	.image__two {
		border-radius: 10px;
		max-width: 135px;
		margin-top: 40px;
		margin-right: 14px;
	}
	.image__three {
		border-radius: 10px;
		max-width: 135px;
		margin-top: 40px;
		margin-right: 14px;
	}
	.image__fore {
		border-radius: 10px;
		max-width: 135px;
		margin-top: 40px;
		margin-right: 14px;
	}
	.block__fore{
		min-height: 626px;
	}
}

@media (max-width: 660px) {
	.project__h1 h1{
		font-size: 22px;
		padding-top: 100px;
	}
	.lorem__fore {
		font-size: 12px;
		line-height: 24px;
		max-width: 340px;
		text-align: center;
		margin: 20px auto 0px auto;
	}
	.image__one {
		border-radius: 10px;
		max-width: 105px;
		margin-top: 30px;
		margin-right: 10px;
	}
	.image__two {
		border-radius: 10px;
		max-width: 105px;
		margin-top: 30px;
		margin-right: 10px;
	}
	.image__three {
		border-radius: 10px;
		max-width: 105px;
		margin-top: 30px;
		margin-right: 10px;
	}
	.image__fore {
		border-radius: 10px;
		max-width: 105px;
		margin-top: 30px;
		margin-right: 10px;
	}
	#dutton__project{
		position: relative;
		margin: 30px auto;
	}
	
	.dutton__project{
		font-size: 14px;
		border-radius: 30px;
		padding-top: 10px;
		padding-bottom: 12px;
		padding-right: 30px;
		padding-left: 30px;

	}
	.block__fore{
		min-height: 546px;
	}
}

@media (max-width: 560px) {
	.block__fore {
		margin: 1392px 0px 0px 0px;
	}

}

@media (max-width: 500px) {
	.project__h1 h1{
		font-size: 22px;
		padding-top: 60px;
	}
	.lorem__fore {
		font-size: 10px;
		line-height: 24px;
		max-width: 280px;
		text-align: center;
		margin: 20px auto 0px auto;
	}
	.image__one {
		border-radius: 10px;
		max-width: 195px;
		margin-top: 30px;
		margin-right: 10px;
	}
	.image__two {
		border-radius: 10px;
		max-width: 195px;
		margin-top: 30px;
		margin-right: 10px;
	}
	.image__three {
		border-radius: 10px;
		max-width: 195px;
		margin-top: 30px;
		margin-right: 10px;
	}
	.image__fore {
		border-radius: 10px;
		max-width: 195px;
		margin-top: 30px;
		margin-right: 10px;
	}
	#dutton__project{
		position: relative;
		margin: 30px auto;
	}
	
	.dutton__project{
		font-size: 14px;
		border-radius: 30px;
		padding-top: 10px;
		padding-bottom: 12px;
		padding-right: 30px;
		padding-left: 30px;

	}
	.image__gap {
		flex-direction: column;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
	}
	.block__fore{
		min-height: 1266px;
	}
}




.block__fife {
	position: relative;
	min-height: 570px;
	max-width: 1920px;
	background: url(../img/Rectangle.png) no-repeat;
	background-size: 1920px 570px;
}
.work__h1{
	position: relative;
	font-size: 36px;
	font-weight: 700;
	line-height: 52.66px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 70px;
}
.text__video {
	position: relative;
	font-size: 15px;
	font-weight: 400;
	line-height: 25.36px;
	color: #FFFFFF;
	text-align: center;
	margin: 30px auto 0px auto;
}
.videoes{
	display: flex;
	justify-content: center;
	align-items: center;
}
.video__item {
	margin: 70px auto 0px auto;
	max-width :970px;
	position: relative;
	padding-bottom: 85px;
	position: relative;
	border-bottom: #cacaca 1px solid;
}

.button__subscraib {
	position: relative;
	font-weight: 600;
	font-size: 17px;
	text-align: center;
	margin: 85px auto 0px auto;
}
.subscraib {
	position: relative;
	max-width: 730px;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: #999999;
	margin: 20px auto 0px auto;
}
.strane {
	position: relative;
    max-width: 489px;
margin: 30px auto 0px auto;
display: flex;
flex-direction: row;
}
.e-mail {
	max-width: 299px;
	padding-top: 15px;
	padding-bottom: 13px;
	padding-left: 33px;
	padding-right: 149px;
	border: 1px #F2F2F2 solid;
	border-radius: 30px 0px 0px 30px;
	font-family: 'Montserrat';
}
.spam{
	position: relative;
    max-width: 386px;
	font-size: 13px;
	font-weight: 400;
	line-height: 20.6px;
	text-align: center;
	color: #999999;
	margin: 35px auto 0px auto;
}
.button__subscribe  {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		color: #FFFFFF;
		background-color: #4985FF;
		border-radius: 0px 30px 30px 0px;
		max-width: max-content;
		padding-top: 15px;
	    padding-bottom: 13px;
	    padding-left: 30px;
		padding-right: 33px;
		transition: 0.6s;
		position: relative;
	}
	.button__subscribe:hover{
		cursor: pointer;
		background-color: #ff0000;
		color: #FFFFFF;
	}
.rasslk{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

	@media (max-width: 1050px) {
		.video__item {
			max-width :770px;
		}
		.work__h1{
			font-size: 30px;
		}
		.text__video {
			font-size: 13px;
		}
	}
	@media (max-width: 810px) {
		.video__item {
			margin-top: 150px;
			max-width :570px;
		}
		
	}

	@media (max-width: 605px) {
		.video__item {
			margin-top: 230px;
			max-width :370px;
		}
		
	}
	@media (max-width: 580px) {
		.button__subscribe {
			font-size: 10px;
			padding-top: 8px;
	    padding-bottom: 8px;
	    padding-left: 30px;
		padding-right: 33px;
		}
		.subscraib {
			font-size: 12px;
			text-align: center;
		}
		.e-mail {
			padding-top: 9px;
			padding-bottom: 9px;
			max-width: 299px;
			padding-right: 129px;
			border: 1px #F2F2F2 solid;
			border-radius: 30px 0px 0px 30px;
			font-family: 'Montserrat';
		}
			.strane {
				position: relative;
				max-width: 489px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			}
		.spam{
			font-size: 10px;
		}
	}
	@media (max-width: 490px) {
		.work__h1{
			font-size: 24px;
		}
		.text__video {
			font-size: 10px;
		}
		.button__subscribe {
			font-size: 10px;
			padding-top:7px;
	    padding-bottom: 5.5px;
	    padding-left: 23px;
		padding-right: 23px;
		}
		.subscraib {
			font-size: 12px;
			text-align: center;
		}
		.e-mail {
			max-width: 229px;
			font-size: 10px;
	        padding-top: 10px;
		padding-bottom: 8px;
		padding-left: 60px;
		padding-right: 50px;
		border: 1px #F2F2F2 solid;
		border-radius: 30px 0px 0px 30px;
		font-family: 'Montserrat';
		}

	}

	@media (max-width: 390px) {
		
		.work__h1{
			font-size: 18px;
		}
		.text__video {
			font-size: 8px;
		}
		.video__item {
			margin-top: 290px;
			max-width :220px;
		}
		.block__fife{
			height: 200px;
		}
		.button__subscribe {
			font-size: 10px;
			padding-top:7px;
	    padding-bottom: 5.5px;
	    padding-left: 23px;
		padding-right: 23px;
		}
		.subscraib {
			font-size: 12px;
			text-align: center;
		}
		.e-mail {
			max-width: 229px;
			font-size: 10px;
	        padding-top: 10px;
		padding-bottom: 8px;
		padding-left: 30px;
		padding-right: 0px;
		border: 1px #F2F2F2 solid;
		border-radius: 30px 0px 0px 30px;
		font-family: 'Montserrat';
		}
		.button__subscraib {
			font-size: 14px;
			margin: 170px auto 0px auto;
		}
	}


	

	.footer {
		position: relative;
		min-height: 413px;
        max-width: 1920px;
        margin: 85px 0px 0px 0px;
		background-color: #F6F6F8;
	}
	.contact h1{
		position: relative;
		font-weight: 600;
		font-size: 18px;
		line-height: 21.94px;
 		margin: 70px 0px 0px 0px;
		color: #000000;
	}
	.contact__information {
		position: relative;
		font-weight: 400;
		font-size: 14px;
 		margin: 35px 0px 0px 0px;
	}
	.footer__item {
		margin-bottom: 30px;
		color: #999999;
	}
	.footer__item:last-child {
		margin-bottom: 0px;
	}
	.footer__item span{
		margin-right: 13px;
	}
	.footer__item:hover{
		cursor: pointer;
		color: #000000;
	}
	.lang h1{
		font-weight: 600;
		font-size: 18px;
		line-height: 21.94px;
 		margin: 70px 0px 0px 43px;
 		position: relative;
		 color: #000000;
	}
	.lang__information {
		font-weight: 400;
		font-size: 14px;
		position: relative;
		margin: 35px 0px 0px 50px;
 		
	}
	.progect h1{
		font-weight: 600;
		font-size: 18px;
		line-height: 21.94px;
		position: relative;
 		margin: 70px 0px 0px 43px;
		 color: #000000;
	}
	.project__information {
		font-weight: 400;
		font-size: 14px;
		position: relative;
		margin: 35px 0px 0px 50px;
 		
	}
	.networks h1{
		font-weight: 600;
		font-size: 18px;
		line-height: 21.94px;
		position: relative;
 		margin: 70px 0px 0px 43px;
		 color: #000000;
	}
	.networks__information {
		font-weight: 400;
		font-size: 14px;
		position: relative;
		margin: 35px 0px 0px 50px;
	}
	.two__column{
		display: flex;
		flex-direction: row;
	}
	.prava {
		position: relative;
		margin: 30px 0px 30px 0px;
		color: #999999;
		font-weight: 400;
		font-size: 13px;
		text-align: center;
	}
	.flex__footer{
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-bottom: 70px;
		max-width: max-content;
		margin: 0 auto;
		border-bottom: #cacaca 1px solid;
	}



	@media (max-width:950px) {
		.contact h1,.progect h1,.lang h1,.networks h1{
			font-size: 16px;
		}
		.networks__information,.contact__information ,.lang__information ,.progect__information {
			font-size: 12px;
		}
	}

	@media (max-width:850px) {
		.flex__footer{
			display: flex;
			flex-direction: column;
		}
		.two__column{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		.contact h1{
			position: relative;
			font-weight: 600;
			font-size: 14px;
			line-height: 21.94px;
			 margin: 50px 0px 0px 0px;
			color: #000000;
		}
		.contact__information {
			position: relative;
			font-weight: 400;
			font-size: 12px;
			 margin: 35px 0px 0px 0px;
		}
		.lang h1{
			font-weight: 600;
			font-size: 14px;
			line-height: 21.94px;
			 margin: 50px 0px 0px 27px;
			 position: relative;
			 color: #000000;
		}
		.lang__information {
			font-weight: 400;
			font-size: 12px;
			position: relative;
			margin: 35px 0px 0px 30px;
			 
		}
		.progect h1{
			font-weight: 600;
			font-size: 14px;
			line-height: 21.94px;
			position: relative;
			 margin: 40px 0px 0px 0px;
			 color: #000000;
		}
		.project__information {
			font-weight: 400;
			font-size: 12px;
			position: relative;
			margin: 35px 0px 0px 0px;
			 
		}
		.networks h1{
			font-weight: 600;
			font-size: 14px;
			line-height: 21.94px;
			position: relative;
			 margin: 40px 0px 0px 37px;
			 color: #000000;
		}
		.networks__information {
			font-weight: 400;
			font-size: 12px;
			position: relative;
			margin: 35px 0px 0px 40px;
		}
		.flex__footer{
			padding-bottom: 50px;
		}
		.prava {
			margin: 30px 0px 20px 0px;
		}
	}

	@media (max-width:410px) {
		.flex__footer{
			display: flex;
			flex-direction: column;
		}
		.two__column{
			display: flex;
			flex-direction: column;
			justify-content: start;
		}
		.contact h1{
			position: relative;
			font-weight: 600;
			font-size: 14px;
			line-height: 21.94px;
			 margin: 40px 0px 0px 0px;
			color: #000000;
		}
		.contact__information {
			position: relative;
			font-weight: 400;
			font-size: 12px;
			 margin: 35px 0px 0px 0px;
		}
		.lang h1{
			font-weight: 600;
			font-size: 14px;
			line-height: 21.94px;
			 margin: 40px 0px 0px 0px;
			 position: relative;
			 color: #000000;
		}
		.lang__information {
			font-weight: 400;
			font-size: 12px;
			position: relative;
			margin: 35px 0px 0px 0px;
			 
		}
		.progect h1{
			font-weight: 600;
			font-size: 14px;
			line-height: 21.94px;
			position: relative;
			 margin: 40px 0px 0px 0px;
			 color: #000000;
		}
		.project__information {
			font-weight: 400;
			font-size: 12px;
			position: relative;
			margin: 35px 0px 0px 0px;
			 
		}
		.networks h1{
			font-weight: 600;
			font-size: 14px;
			line-height: 21.94px;
			position: relative;
			 margin: 40px 0px 0px 0px;
			 color: #000000;
		}
		.networks__information {
			font-weight: 400;
			font-size: 12px;
			position: relative;
			margin: 35px 0px 0px 0px;
		}
		.prava {
			font-size: 10px;
			margin: 30px 0px 20px 0px;
		}
		.flex__footer{
			padding-bottom: 30px;
		}
	}